/* body{
    background-color: lightpink;
} */

/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-shopware{
 color:#fe424d ;
 font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}
.icon{
    display: flex;
    justify-content: flex-end;
}