body{
    /* background-color: lightpink; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container{
    flex: 1;
}

/* navbar */
.navbar {
    height: 5rem;
    background-color: white;
    font-size: 1.4em;
    
}

.fa-shopware {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.icon {
    display: flex;
    justify-content: flex-end;
}
/* search in nab bar */


/* for mobile screen ke liya navbar */
@media (max-width: 768px) {
  .navbar-collapse {
    background-color: white;
  }

  .navbar-nav {
    width: 100%;
  }

  .navbar-nav .icon {
    flex-wrap: wrap !important;
    display: flex;
    
  }
}
/* nab bar end for mobile screen ke liya */

/* footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i {
    font-size: 1.3rem;
    margin-right: 1rem;
}

.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

/* footer style end */

/* card style start */
.item-card {

    /* border: none !important; */
    margin-bottom: 2.2rem;
    height: 100% !important;
}

.card:hover{
  box-shadow: 5px 5px 30px  rgb(122, 116, 116);
  border-radius: 15px;
}

.card-wrap {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
    justify-content: space-around !important;
}

.card-img-top {
    height: 250px !important;
    border-radius: 1.3rem !important;
    width: 100% !important;
    object-fit: contain !important;
}

.card-body {
    padding: 0 !important;
    display: flex !important;
    flex-direction: column !important;
}
.card-body, .btn{
    margin-top: auto !important;
    padding-bottom: 1rem !important;
}
.item-link{
    text-decoration: none !important;
}

.img-heart{
    margin-top: 1rem !important;
    float: right ;
    font-size: 1.5em;
    color: black;
}

.btn-primary{
    margin-top: 1.5rem !important;
    font-size: 1.3em !important;
}
/* Card effect */
.card-img-overla{
    opacity: 1;
}

.card-img-overla:hover{
    opacity: 0.9 !important;
    
}

/* new page  stylint start*/
.add-btn{
    background-color: #fe424d !important;
    border-radius: 20px !important;
  min-width: 10% !important;
  padding: 10px 15px !important;
  font-size: 1.3em;
  margin-bottom: 20px !important;
  border: 1px solid #fff !important;
}

.add-btn:hover{
    /* background-color: #fff !important;
    border-radius: 2px solid #fe424d !important;
    color: black !important; */
     background-color: #fff !important;
    border: 1px solid #fe424d !important;
    color: black !important;
}
/* new page styling end */

/* edit page  styling start*/

.edit-btn{
 background-color: #fe424d !important;
     border: 2px solid black !important;
    min-width: 15% !important;
    font-size: 1.2em !important;
    padding-top:5px !important;
    border-radius: 25px !important;
}

.edit-btn:hover{
    background-color: #fff !important;
    border: 2px solid black !important;
    color: #fe424d !important;
    
}
/* edit page  styling end*/

/* styling start on show page */
.show-img{
    height: 30vh;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

.btns{
    display: flex;
   
}
.edit{
  border-radius: 20px !important;
  min-width: 10% !important;
  padding: 10px 15px !important;
  font-size: 1.3em;
  margin-bottom: 20px !important;
}
.delete{
    border-radius: 20px !important;
    padding: 10px 25px !important;
    font-size: 1.3em;
}

.edit:hover{
 color: black !important;
background-color: #fff !important;
}
.delete:hover{
    
    background-color: #fe424d !important;
}
